#video-container{
    width: 100%;
    height:75px ;
    overflow: hidden;
    position: relative;
}


video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }


 .delimitador{
    width:560px;   
    margin:auto;  
  }


.content{
    position: absolute;
    top:40%;
    left: 50%;
    width: 1000px;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .fondologin{
    background-image: url("../img/login.jpg");
  }